{% include 'base.html.twig' %}
{% include 'shared/header.html.twig' %}
{% include 'shared/sidebar.html.twig' %}

{% block title %}
 <title>Hebegement Roubaix</title>
    {% endblock %}






{% block body %}

{% endblock %}
