{% include 'base.html.twig' %}
{% include 'shared/header.html.twig' %}
{% include 'shared/sidebar_Heberge.html.twig' %}

{% block title %}
 <title>Hebegement Roubaix</title>
    {% endblock %}

{% block body %}
<main id="main" class="main">

    <div id="bandeau">
      <marquee scrollamount="15">
        <p class="scroll-text">RAPPEL : la permanance pour le payment des loyers se fera lundi 10/10/22 !</marquee></p>
        
    </div>
    <div class="pagetitle">
      <h1>Accueil</h1>
      
    </div><!-- End Page Title -->

    
      <div class="d-flex justify-content-center my-3 fs-1">Bonjour {{utilisateur.prenom}}</div> 
      <div class="d-flex justify-content-center mb-5 fs-3">Votre chambre est la {{bail.numeroChambre.numeroChambre}}</div>

      <section class="section">
        <div class="row align-items-top">
          <div class="col-lg-20 mb-3 mx-auto">

            <div class="card mb-3 h-100 w-100">
              <div class="row g-0">
                
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title">Consigne de sécurité</h5>
                    <p class="card-text " align="justify">teste This is a wider card with supporting text below as a natural lead-in to additional
                      content. This content is a little bit longer. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero facilis, ratione sit perferendis aspernatur sint eveniet consequatur nesciunt ea nostrum quasi cupiditate unde consectetur error exercitationem aliquid consequuntur, doloribus modi alias officia, necessitatibus explicabo tempora incidunt similique! Culpa corporis quaerat quis cumque eaque, ut voluptas fugit nihil esse atque aliquid dolore adipisci odit, accusantium ea illum nisi deleniti cupiditate quae ipsum, tempora maxime modi dolorum! Ipsam optio adipisci hic, ex quos iure, ut ducimus, excepturi nobis eos ea non aliquid? Perspiciatis expedita amet mollitia quod eligendi quidem sed sint? Fuga doloremque modi nostrum ducimus cumque voluptatum, fugit optio corporis aliquid.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->

          <div class="col-lg-6 mb-3">
            <div class="card mb-5 h-100 ">
              <div class="row g-0">
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title">Consigne Cuisine</h5>
                    <p class="card-text" align="justify">This is a wider card with supporting text below as a natural lead-in to additional
                      content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->
          <div class="col-lg-6 mb-3">
            <div class="card mb-3 h-100">
              <div class="row g-0">
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title">Consigne Laverie</h5>
                    <p class="card-text" align="justify">This is a wider card with supporting text below as a natural lead-in to additional
                      content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->
          <div class="col-lg-6 mb-3">
            <div class="card mb-3 h-100">
              <div class="row g-0">
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title">Consigne Lingerie</h5>
                    <p class="card-text" align="justify">This is a wider card with supporting text below as a natural lead-in to additional
                      content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->
          <div class="col-lg-6 mb-3">
            <div class="card mb-3 h-100">
              <div class="row g-0">
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title">Consigne COVID</h5>
                    <p class="card-text" align="justify">This is a wider card with supporting text below as a natural lead-in to additional
                      content. This content is a little bit longer.</p>
                      <p class="card-text"><a href="#" class="btn btn-danger card-btn">Télécharger document</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card with an image on left -->
          </main>
{% endblock %}