{% extends 'base.html.twig' %}

{% block title %}New Incident{% endblock %}

{% block body %}
    <h1>Create new Incident</h1>

    {{ include('incident/_form.html.twig') }}

    <a href="{{ path('app_incident_index') }}">back to list</a>


<script>
    
document.addEventListener('DOMContentLoaded', function() {
        const dateSelect = document.getElementById('incident_date');
        dateSelect.addEventListener('change', function(e) {
            const formI = dateSelect.closest('form'); //recupére la partie formulaire
            let date=dateSelect.value
            dateSelect.setAttribute('value', date)
            console.log(dateSelect.value)
            fetch(formI.action, {
                method: formI.method,
                body: new FormData(formI)
            })
            dateSelect.setAttribute('value', date)
            console.log(dateSelect.value)
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const newCityFormFieldEl = doc.getElementById('incident_idBail');
                newCityFormFieldEl.addEventListener('change', function(e) {
                    e.target.classList.remove('is-invalid');
                });
                document.getElementById('incident_idBail').replaceWith(newCityFormFieldEl);
            })
            .catch(function (err) {
                console.warn('Something went wrong.', err);
            });
        })
    })

    


</script>
{% endblock %}