i.editIcon {
    color:  #87BB34;
}

i.viewIcon {
    color:  #87BB34;
}

#dataTables_wrapper>row {
    background: #2eca6a;
}

h1 {
    text-align: center;
}

/*=================================BTN======================================*/
.btn-primary {
    --bs-btn-bg: #87bb34;
    --bs-btn-border-color: #87bb34;
    --bs-btn-hover-bg: #77a52c;
    --bs-btn-hover-border-color: #77a52c;
}
.btn-secondary {
    --bs-btn-bg: #b5b3b3;
    --bs-btn-border-color: #b5b3b3;
    --bs-btn-hover-bg: #8e8d8d;
    --bs-btn-hover-border-color: #8e8d8d;
}

#position_add_chambre {
    position: relative;
    left: 82%;
    color: #87BB34;
    }