i.editIcon {
    color:  #87BB34;
}

i.viewIcon {
    color:  #87BB34;
}

h1 {
    text-align: center;
}

.dataTables_length {
    margin-bottom: 20px;
}

.col-md-5 {
    margin-top: 30px;
    margin-bottom: 5px;
}

#dataTable_paginate {
    margin-top: 30px;
    margin-bottom: 5px;
}

.eyeIcon {
    text-align: center;
}

.title {
    text-align: center;
}

#dataTable_info {
    margin-top: 34px;
    display: inline-flex;
    color:#666666;
}

#dataTable_filter {
    margin-bottom: 30px;
}

.exportIcons {
    font-size: 18px;
}

.exportTitle {
    font-size: 16px;
    margin: auto;
}

#basic-addon1 {
    background-color: #77a52c;
}

#search .form-select {
    height: 43px;
}

.dt-buttons {
    display: inline-flex;
    gap: 10px;
}

/*=================================BTN======================================*/
.btn-primary {
    --bs-btn-bg: #87bb34;
    --bs-btn-border-color: #87bb34;
    --bs-btn-hover-bg: #77a52c;
    --bs-btn-hover-border-color: #77a52c;
}
.btn-secondary {
    --bs-btn-bg: #b5b3b3;
    --bs-btn-border-color: #b5b3b3;
    --bs-btn-hover-bg: #8e8d8d;
    --bs-btn-hover-border-color: #8e8d8d;
}

#position_add_chambre {
    position: relative;
    left: 82%;
    color: #87BB34;
    }

.exportButton {
    --bs-btn-border-color: #87bb34;
    --bs-btn-hover-bg: #77a52c;
    --bs-btn-hover-border-color: #77a52c;
    color: #87BB34;
}


#isTravaux {
    margin-top: 6px;
}
.pourcentSize{
    font-size: 16px;
}
.historiqueLien{
    color: grey;
    font-size: 14px;
}
.enTravaux{
    color : #87bb34
}
.hideValue{
    opacity:0;
}

/*TEEEEEEESSSSSSTT*/
.circular-progress, .circular-progressOccupe, .circular-progressReserve, .circular-progressInutilisable{
    position: relative;
    margin-left: 100px;
    height: 80px;
    width: 80px;
    /* background-color: green; */
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.circular-progress:before, .circular-progressOccupe:before, .circular-progressReserve:before, .circular-progressInutilisable:before{
    content:"";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #ffff;
    border-radius: 50%;
}
.value-container, .value-containerOccupe, .value-containerReserve, .value-containerInutilisable{
    position: relative;
    font-size: 25px;
    color: black;
}

.hiddenPourcentage{
    visibility: hidden;
}
.card-header{
    font-size: 25px ;
}