<form method="post" action="{{ path('app_bail_delete', {'idBail': bail.idBail}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bail.idBail) }}">
    <button class="btn">Delete</button>
</form>
