<div class="modal fade" id="modal_modifier" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header titre">
                <h1 class="modal-title titreHeberge" id="exampleModalLabel">MODIFIER LES DATES DE BAIL</h1>
            </div>
            <div class="modal-body formAjout">
                <form action="#" method="POST"  class="row g-3 needs-validation">
                    <div class="col-12">
                        <label for="dateEntree" class="form-label">Date d'entrée</label>
                        <div class="input-group has-validation">
                            <input type="date" name="date_entree" id="entree" class="form-control" id="dateEntree" required>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="dateSortie" class="form-label">Date de sortie</label>
                        <input type="date" name="date_sortie" class="form-control" id="dateSortie" required>
                    </div>
                <input type="hidden" name="_target_path" value="{{ path('app_chambre_index') }}"/>
            </div>
            <div class="modal-footer endFooter">
                <button type="button" class="btn btn-secondary fermerAttribution" data-bs-dismiss="modal">
                    Fermer
                </button>
                <button type="submit" class="btn btn-primary" id="fermerAttributionChambre" data-bs-dismiss="modal">
                    Enregistrer
                </button>
            </form>
            </div>
        </div>
    </div>
</div>

{# <div class="modal fade" id="valid-formulaire" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header titre">
                <h1 class="modal-title titreHeberge" id="exampleModalLabel">Validation</h1>
            </div>
            <div class="modal-body formAjout">
                <div id="recapForm"></div>
            </div>
            <div class="modal-footer endFooter">
                <button type="button" class="btn btn-secondary" id="fermerValidationAttributionChambre" data-bs-dismiss="modal">
                    Fermer
                </button>
                {{ form_row(form.submit) }}
                {{ form_end(formModif) }}
            </div>
        </div>
    </div>
</div> #}