<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="{{ path('main_user') }}" id="nav_accueil">
                <i class="bi bi-house"></i>
                <span>Accueil</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-toggle="collapse"
               href="{{ path('redirection') }}" id="nav_profil">
                <i class="ri-user-settings-line"></i>
                 <span>Mon espace</span>
                 </a>
        </li><!-- End heberge Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-toggle="collapse"
               href="{{ path('app_documents_index') }}" id="nav_facture">
                <i class="ri-money-euro-circle-line"></i>
                <span>Mes documents</span>
            </a>
        </li><!-- End Documents Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-toggle="collapse" href="#" id="nav_rdv">
                <i class="ri-calendar-check-line"></i>
                <span>Rendez-vous</span>
            </a>
        </li><!-- End rendez-vous Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-toggle="collapse" href="#" id="nav_doc">
                <i class="ri-file-edit-line"></i>
                <span>Signaler une absence</span>
            </a>
        </li><!-- End Abscence Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-toggle="collapse" href="#">
                <i class="ri-message-3-line"></i>
                <span>Messagerie</span>
            </a>
        </li>
    </ul>
</aside><!-- End Sidebar-->
