{% extends 'base.html.twig' %}

{% block title %}New Financeur{% endblock %}

{% block body %}
    <h1>Create new Financeur</h1>

    {{ include('financeur/_form.html.twig') }}

    <a href="{{ path('app_financeur_index') }}">back to list</a>
{% endblock %}
